<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Places You've Been</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container text-center">
      <h2>Travel Log</h2>
      <br>
      <h4>Entere Places You've Been!</h4>
      <form action="/visits" method="post">

        <label for="citycountry">City and Country</label>
        <input id="citycountry" name="citycountry" type="text">

        <label for="year">Year</label>
        <input id="year" name="year" type="text">

        <label for="landmark">Landmark</label>
        <input id="landmark" name="landmark" type="text">
        <hr>
        <label for="notes">Notes</label>
        <input id="notes" name="notes" type="text">
        <hr>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>